
  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400&display=swap');

*{
    box-sizing:border-box;
    
}
body{
    margin:0 auto;
    padding:0;
    min-height:100vh;
    width:100vw;
    overflow-x:hidden;
    background:rgb(41, 41, 41);
    font-family: 'Source Code Pro';
}
main{
    min-height:100vh;
    width:100vw;
    display:flex;
    flex-direction:column;
}
.menu{
    position:fixed;
    left:-200px;
    top:40px;
    width:200px;
    height:100vh;
    background:black;
    transition:all 0.5s;
    z-index:10;
}
.burger{
    position:fixed;
    left:0;
    top:40px;
    width:200px;
    height:100vh;
    background:black; 
     box-shadow: 1px 1px 10px rgb(255, 255, 255);
}
.menu ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
.menu ul li{
    width:200px;
    height:40px;
    margin-top:5px;
    line-height:40px;
    text-align:center;
    border-bottom:1px solid white;
}
.menu ul li a{
    display:block;
    width:200px;
    height:40px;
    text-decoration:none;
    color:white;
    transition:all 0.3s;
}
.menu ul li a:hover{
    background:#b5e51d;
}
.container{
    position:relative;
    left:0;
    top:0;
    min-height:80vh;
    width:100vw;
    flex-grow:1;
}
.search{
    position:fixed;
    width:100%;
    height:40px;
    line-height:40px;
    text-align:right;
    background:rgb(41, 41, 41);
    border-bottom:1px solid white;
    z-index:10;
}
.logo{
    position:fixed;
    height:40px;
    width:40px;
    background:url(../images/spotiwish.jpg)center no-repeat;
    background-size:contain;
    cursor:pointer;
}
#monform{
    margin-right:50px;
    color:white;
}
input{
    background:transparent;
    border:1px solid white;
    color:white;
    border-radius:5px;
}
input:focus{
    outline: none;
}
.block{
    position:relative;
    width:300px;
    top:70px;
    left:calc(50% - 150px);
    text-align:center;
    overflow:hidden;
    border:1px solid white;
    box-shadow: 1px 1px 10px rgb(255, 255, 255);
}
.block img{
    width:300px;
    height:300px;
    object-fit:cover;

}
h4{
    position:relative;
    color:white;
    margin:0;
    padding:0;
    font-size:25px;
    z-index:100;
}
p{
    position:relative;
    color:white;
    margin:0;
    padding:0;
    font-size:20px;
    z-index:100;
}
.songs{
    width:100vw;
    margin-top:100px;
}
.blocksong{
    height:50px;
    width:50vw;
    margin:25px 25vw;
    color:white;
    display:flex;
    justify-content:space-around;
    align-items: center;
    border-radius:10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
}
.blocksong img{
    margin-top:10px;
}
.blocksong:hover{
    border:1px solid white;
    background:rgb(54, 54, 54);
}

/*************AUDIO BAR ***********/
.hidden{
    display: none;
}
.display{
    display: flex;
}
#time{
    color:white;
}
input[type=range] {
    height: 35px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 75%;
    border-radius: 15px;
    background-color: transparent;
    margin: 5px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;

    background: #205928;
    border-radius: 4px;
    border: 3px solid #18D501;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 10px #00AA00;
    border: 3px solid #83E584;
    height: 23px;
    width: 22px;
    border-radius: 22px;
    background: #059C0F;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -12px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #205928;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;

    background: #205928;
    border-radius: 4px;
    border: 3px solid #18D501;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 3px 3px 10px #00AA00;
    border: 3px solid #83E584;
    height: 23px;
    width: 22px;
    border-radius: 22px;
    background: #059C0F;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #205928;
    border: 3px solid #b5e51d;
    border-radius: 8px;

  }
  input[type=range]::-ms-fill-upper {
    background: #205928;
    border: 3px solid #b5e51d;
    border-radius: 8px;

  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 3px 3px 10px #00AA00;
    border: 3px solid #83E584;
    height: 23px;
    width: 22px;
    border-radius: 22px;
    background: #059C0F;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #205928;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #205928;
  }

.lecteur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    
}
.lecteur>*{
    margin: 10px;
}

.progressBar{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top:20px;
}

.selected{
    color:#b5e51d;
    border-color: #b5e51d;
    box-shadow: 1px 1px 10px #b5e51d;
}
footer{
    height:20vh;
    width:100vw;
    margin-top:0;
    background:rgb(0, 0, 0);
}
.sidebutton{
    background-color: black;
    cursor:pointer;
    fill: aliceblue;
}
#playicon{
    position:relative;
    height:40px;
    width:40px;
    top:-5px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid white;
    border-radius:100%;
}
#playicon:hover{
    box-shadow: 1px 1px 25px #b5e51d;
}
.middlebutton{
    object-fit:contain;
    cursor:pointer;
    margin-left:3px;
    background:black;
}
.middlebutton:hover{
    fill: #b5e51d;
}
.sidebutton:hover{
    fill: #b5e51d;
}
#titre{
    position:relative;
    width:100%;
    top:10px;
     text-align:center;
     color:white;
}
#songDuration{
    position:relative;
    top:10px;
    color:white;
}
#time{
    position:relative;
    top:10px;
    color:white;
}